#This project uses Python Decouple library https://pypi.org/project/python-decouple/    https://simpleisbetterthancomplex.com/2015/11/26/package-of-the-week-python-decouple.html
#Set you values for the secret/reserved constants used on the project.
#Note that some constants include casting. Keep it.

SECRET_KEY = ''
DEBUG=True
ALLOWED_HOSTS = 127.0.0.1, .pythonanywhere.com
GOOGLE_RECAPTCHA_SECRET_KEY = ''
#Cloudinary info:
CLOUD_NAME = ''
CLOUD_API_KEY = ''
CLOUD_API_SECRET = ''
