{% extends 'blog/base.html' %}

{% block content %}
    <h1>Nuevo comentario</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="g-recaptcha" data-sitekey='6LeNe7IZAAAAACtS3m-KAMvS5EsxpmD0fzlDT8ma'></div>
        <button 
        	type="submit" 
        	class="save btn btn-default" 
        	>Enviar</button>
        {% if messages %}
        messages: {{ messages }}
		  <ul class="messages">
		    {% for message in messages %}
		      <li class="{{ message.tags }}">{{ message }}</li>
		    {% endfor %}
		  </ul>
		{% endif %}
    </form>
{% endblock %}
