{% extends 'blog/base.html' %}
{% load static %}

{% block section_css %}
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block section %}
        <!-- Add new post -->
        <div class="container">
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="text-primary text-decoration-none">
                        <div class="d-flex align-middle">
                            <span class="material-icons md-64">note_add</span>
                            <p>New post</p>
                        </div>
                    </a>
                {% endif %}
                </div>
            
            </div>
        </div>

        <!-- Main body content -->
        <!---Handle side columns here (future) -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

{% endblock %}

