{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block section_css %}
        {% endblock %}

        <title>Sitio de empresa de clases de yoga o similar</title>
    </head>
    <body>
        <!-- Navbar start -->
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
            <img src="/media/images/png-transparent-om-symbol-yoga-om-text-monochrome-om.png" alt="Logo" width=60 class="navbar-brand rounded">
                </li>
                <li class="nav-item">
            <a class="navbar-brand text-white" href="/">Empresa de yoga</a> 
                </li>
            </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon text-white"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="teachers/">Profesores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="/">Blog</a>
                    </li>
                </ul>
  
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                        <form action="/" method="get" class="form-inline mt-2 mt-md-0">

                            <input id="search_string" name="search_string" 
                            value="{{ request.GET.search_string }}"
                            class="form-control mr-sm-2" 
                            type="text" 
                            placeholder="Buscar en posteos" aria-label="Buscar en posteos">
                            <button class="btn btn-success my-2 my-sm-0" 
                            type="submit">Buscar</button>
                        </form>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- Navbar end -->

        {% block section %}
        {% comment "provisorio" %}
        <!-- Add post -->
<!--         <div class="container">
            <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="text-primary"><span class="material-icons md-64">note_add</span></a>
                </div>
            {% endif %}
            </div>
        </div>
 -->
        <!-- Main body content -->
<!--         <div class="container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
 -->    {% endcomment %}
        {% endblock %}

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
</html>


