
{% extends 'blog/base.html' %}

{% block content %}
    {% if tag_title %}
        <h2 class="bg-warning text-white">
            Con etiqueta: {{tag_title}}
        </h2>
        <br>
    {%endif %}

    {% if search_string %}
        <h2 class="bg-success text-white">
            Busqueda de texto: {{search_string}}
        </h2>
        <br>
    {%endif %}

    {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
            </h2>
            <div>
                <p>publicado: {{ post.published_date }}</p>
            </div>

            <!-- Image start -->
            <div>
            {% if post.image %}
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ post.image.url }}"
                    alt="Imagen ilustrativa del post">
                    <div class="card-body">
                        <p class="card-text small font-italic font-weight-lighter text-secondary">Pixabay License: Free for commercial use. No attribution required</p>
                     </div>
                </div>
            {% endif %}
            </div>
            <!-- Image end -->

            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% empty %}
        <p class="text-danger">No se han encontrado posteos</p>
    {% endfor %}

    {% include "pagination.html" with page=posts %}
    
{% endblock %}
