{% extends 'blog/base_blog.html' %}
{#% load blog_custom_filters %#}

{% block content %}
    <!--Post -->
    <div class="post">
        <div class="row">
            <div class="col-md-8">
                <h2 class="title">{{ post.title }}</h2>
            </div>
            {% if post.published_date %}
                <div class="col-md-3">
                    {{ post.published_date }}
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="col-md-1">

                     <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
                    <span class="material-icons">edit</span></a>

                </div>
            {% endif %}
        </div>
        
        <!-- Normal image handling -->    
        <!-- Image start -->
        <!-- <div>
        {#% if post.image %#}
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" 
                src="{#{ post.image.url }#}"
                alt="Imagen ilustrativa del posteo">
                <div class="card-body">
                    <p class="card-text small font-italic font-weight-lighter text-secondary">Pixabay License: Free for commercial use. No attribution required</p>
                 </div>
            </div>
        {#% endif %#}
        </div> -->
        <!-- Image end -->

        <!-- Image handling for demo on Heroku -->
        <!-- Preloaded demo posts images are taken from /static/ -->
        <!-- New users posts images are taken from /media/, so they are deleted after Heroku dyno sleeps and ephemeral file system is destroyed -->
        <!-- Image start -->
        <p>post.pk = {{ post.pk }}</p>
        <p>post.image (=post.image.name=) = {{ post.image }}</p>
        <p>post.image.path = {{ post.image.path }}</p>
        <p>post.image.url = {{ post.image.url }}</p>
 
        {# "if" checks that image field on DB exists: #}
        {% if post.image %}
            <div class="card mb-4 shadow-sm">
            <!--ValueError at /co/foo The 'logo' attribute has no file associated with it. -->

<!--                 {#{% if post.image
                no sirve asi ni con url. Entra por aqui. Chequea de la BD, no del sist. de archivos %#}
                    <div id="user_uploaded_image" class="card-img-top"
                    style="background-image: url({#{ post.image.url }#}); height: 50vh; background-repeat: no-repeat; background-position: center center; background-size: contain;"></div>
                {#% else %#}
                    <div id="backup_image" class="card-img-top"
                style="background-image: url('/media/images/Mata_mua-Paul_Gauguin.jpg'); height: 50vh; background-repeat: no-repeat; background-position: center center; background-size: contain;"></div>
                {#% endif %#}#} -->
                
 <!--                <div id="user_uploaded_image" class="card-img-top"
                    style="background-image: url({#{ post.image.url|file_exists }#}); height: 50vh; background-repeat: no-repeat; background-position: center center; background-size: contain;"></div> -->
                    
                <div id="user_uploaded_image" class="card-img-top"
                    style="background-image: url(
                        {#{ post.image.url|file_exists }#}
                        {#{ post.image.path|file_exists funciona bien con exists}#}
                        {{ post.image.url }}
                    ); height: 50vh; background-repeat: no-repeat; background-position: center center; background-size: contain;"></div>

                <div class="card-body">
                    <p class="card-text small font-italic font-weight-lighter text-secondary">Pixabay License: Free for commercial use. No attribution required</p>
                 </div>
            </div>
        {% endif %}
        
        <!-- Image end -->

        <p>{{ post.text|linebreaksbr }}</p>
        <hr>
        {% for tag in post.tags.all %}
            <a href="{% url 'tags_list' slug=tag.slug %}" ><button type="button" class="btn btn-outline-info">{{ tag }}</button></a>
        {% endfor %}
    </div>

    <hr>
    
    <!--List of post comments-->
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div>
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="material-icons text-danger">remove_circle_outline</span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="material-icons text-danger">check_circle_outline</span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <!--email not shown--> 
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}

    {% empty %}
        <p>No comments yet</p>
    {% endfor %}

    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>New comment</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="g-recaptcha" data-sitekey='6LeNe7IZAAAAACtS3m-KAMvS5EsxpmD0fzlDT8ma'></div>
        <button 
            type="submit" 
            class="save btn btn-success ml-2" 
            >Send</button>   
    </form>

{% endblock %}