{% load static %}

            <!-- 6 posts and 6 teachers are pre-loaded to populate demo-->

            {% if teacher.pk > 6 %}   
                <!-- <img id="user uploaded image" class="card-img-top"
                src="{#{ theimageurl }#}"
                alt="user uploaded photo"> -->

                    <img id="user uploaded image"  class="card-img-top {{addclass}}" src="{{ theimageurl }}"
                    alt="teacher photo - user uploaded photo">

            {% else %}
                <!-- <img id="preloaded post image" class="card-img-top" 
                src="{#% static theimagename %#}"
                alt="Static file only for demo, as Heroku only serves user uploaded files from third party servers which I am not using here"> -->

                    <img id="preloaded teacher image"  class="card-img-top {{addclass}}" src="{% static theimagename %}"
                    alt="teacher photo - Static file only for demo, as Heroku only serves user uploaded files from third party servers which I am not using here">

            {% endif %}

                </a>

                <div class="card-body">
                    <p class="card-text small font-italic font-weight-lighter text-secondary">Pixabay License: Free for commercial use. No attribution required</p>
                 </div>